*.ods
.vscode
temp
log
*.sublime-project
*.sublime-workspace
/release
/x64
/.vs/evsp/v14/.suo
/lp/*.lp
/evsp.VC.db
/evsp.vcxproj.user
/.vs/evsp/v15
/references
/.cproject
/.project
/.settings
*.out
/debug
/MRCSPlog*
/latticeRCSP/x64
/out/*
*.log
toto
/.vs
